---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us</Fragment>
      <Fragment slot="desc">We're here to assist you.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Get in Touch with TokenCreator</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have questions about token creation or need support? We're here to help. Fill out the form or use the contact details below to reach us.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>123 Blockchain Avenue, Crypto City, TX 75001</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:solanaminter@gmail.com">solanaminter@gmail.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+1 (800) 123-4567">+1 (800) 123-4567</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:twitter" />
            <a href="https://x.com/MinterSola39305" target="_blank" rel="noopener noreferrer">Follow us on Twitter</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
