---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "Free",
    popular: false,
    features: [
      "Create unlimited tokens",
      "Limited number of users",
      "Support for standard protocols",
      "Free subdomain",
      "Community support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "$29",
      annual: "$24",
      discount: "15%",
      original: "$35",
    },
    popular: true,
    features: [
      "All Basic features",
      "Unlimited users",
      "Custom domains",
      "Advanced token management",
      "Priority support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro features",
      "Support for custom tokens",
      "Advanced system integrations",
      "Dedicated account manager",
      "24/7 support",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable Pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
