---
import { Icon } from "astro-icon/components";
// import "../jsFile/CreateToken.js";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Image from "astro/components/Image.astro";
import solicon from "@assets/iconSol.svg";
---

<Layout title="Create Token">
  <Container>
    <div>
      <Sectionhead>
        <Fragment slot="title">Create Your Custom Token</Fragment>
        <Fragment slot="desc">
          Easily generate your own token with just a few clicks. Enter the
          details below to get started.
        </Fragment>
      </Sectionhead>
      <form
        id="token-form"
        class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md mt-10">
        <!-- Select Field for Network -->
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <select
              name="network"
              id="network"
              class="block mb-2 py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer">
              <option value="" disabled selected>Select Network</option>
              <option value="mainnet">Mainnet</option>
              <option value="devnet">Devnet</option>
            </select>
            <label
              for="network"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Network <span class="text-red-600">*</span></label
            >

            <a
              id="airdrop"
              href="https://faucet.solana.com/"
              class="text-sm text-white bg-black rounded-md p-1 hidden"
              >Get Airdrop SOL For Test</a
            >
          </div>
        </div>
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <input
              type="text"
              name="token-name"
              id="token-name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="token-name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Token Name <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 mb-5 group">
            <input
              type="text"
              name="token-symbol"
              id="token-symbol"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="token-symbol"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Token Symbol <span class="text-red-600">*</span></label
            >
          </div>
        </div>
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <input
              type="number"
              name="initial-supply"
              id="initial-supply"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="initial-supply"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Initial Supply <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 mb-5 group">
            <input
              type="number"
              name="decimals"
              id="decimals"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="decimals"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Decimals <span class="text-red-600">*</span></label
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <textarea
            name="token-description"
            id="token-description"
            rows="3"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "></textarea>
          <label
            for="token-description"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Token Description <span class="text-red-600">*</span></label
          >
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="checkbox"
            name="include-media"
            id="include-media"
            class="mr-2"
          />
          <label for="include-media" class="peer-focus:font-medium text-sm"
            >Include Media</label
          >
        </div>
        <div id="media-fields" class="hidden">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="website"
              id="website"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="website"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Website <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="telegram"
              id="telegram"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="telegram"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Telegram <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="twitter"
              id="twitter"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="twitter"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Twitter <span class="text-red-600">*</span></label
            >
          </div>
        </div>

        <div class="max-w-lg mx-auto p-2 bg-white shadow-md rounded-md">
          <div class="mb-5">
            <label class="block text-sm font-medium text-gray-700"
              >Tags (optional)</label
            >
            <p class="text-xs text-gray-500 mb-2">
              Select tags that are most associated with your project - max 3
              tags
            </p>
            <div class="relative flex">
              <div
                id=""
                class="overflow-x-auto flex flex-wrap items-center gap-2 border rounded-md py-2.5 px-3 w-full text-sm text-gray-900 bg-white border-gray-300">
                <!-- Selected tags will appear here -->
                <div id="selected-tags" class="flex"></div>
                <input
                  name="nput-custom-dropdown"
                  type="text"
                  id="tag-input"
                  placeholder="Enter tag"
                  class="outline-none flex-grow bg-transparent"
                />
              </div>
            </div>
            <div id="available-tags" class="flex flex-wrap gap-2 mt-2">
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Meme">Meme</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Airdrop">Airdrop</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Tokenization">Tokenization</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="NFT">NFT</button
              >
            </div>
            <!-- <button type="button" id="add-tag" class="bg-green-600 rounded-md w-full p-4 mt-4">+ add</button> -->
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group mt-2">
          <label
            for="token-logo"
            class="mb-1 block text-sm font-medium text-gray-700"
            >Upload file <span class="text-red-600">*</span></label
          >
          <input
            id="token-logo"
            type="file"
            class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-teal-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-teal-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
          />
        </div>
        <div class="mb-5">
          <div id="img-url" class="hidden"></div>
          <img
            id="img-display"
            src=""
            alt="Token Logo Preview"
            style="display: none;"
            class="border-4 border-black rounded-lg w-64 m-auto"
          />
          <div id="error-handling" class="text-red-600"></div>
        </div>

        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-revokMint"
          />
          <label
            for="toggle-revokMint"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-revokMint ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Revoke Mint Authority (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-revokFreeze"
          />
          <label
            for="toggle-revokFreeze"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-revokFreeze ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Revoke Freeze Authority (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-custom-creator-info"
          />
          <label
            for="toggle-custom-creator-info"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-custom-creator-info ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Custom Creator Info (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div id="creator-fields" class="hidden">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="creatorWebsite"
              id="creatorWebsite"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="creatorWebsite"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Creator Website <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="Creator"
              id="creatorName"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="creatorName"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Creator <span class="text-red-600">*</span></label
            >
          </div>
        </div>

        <div
          id="loading-spinner"
          class="hidden flex justify-center items-center">
          <div
            class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16">
          </div>
        </div>

        <button
          type="button"
          id="connect-wallets"
          class="w-full bg-green-500 text-white p-2 rounded mt-4 hover:bg-green-600 lg:hidden"
          >Connect Wallet</button
        >
        <div id="wallet-address" class="mt-4 text-gray-500"></div>

        <button
          type="button"
          id="submit"
          class="w-full mt-2 py-2.5 px-5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
          >Create Token</button
        >
        <div
          class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full text-center">
          <div class="flex items-center justify-center mt-1 space-x-2">
            <span class="line-through text-red-500 text-lg font-semibold"
              >0.5 SOL</span
            >
            <span class="text-lg text-green-600 font-semibold">0.05 SOL</span>
            <span
              class="bg-yellow-200 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded"
              >90% OFF</span
            >
          </div>
          <div class="mt-4">
            <span
              class="bg-blue-100 text-blue-800 text-sm font-semibold px-3 py-1 rounded"
              >Limited Time Offer</span
            >
          </div>
          <div class="mt-2 text-xl font-bold text-gray-800">
            <span id="timer"></span>
          </div>
        </div>
      </form>
      <Sectionhead>
        <Fragment slot="title">How to Create Your Token</Fragment>
        <Fragment slot="desc">
          Follow these steps to create your custom token:
        </Fragment>
      </Sectionhead>

      <div class="list-decimal pl-5 text-gray-700 mt-4 leading-normal">
        <li>Connect your wallet to be able to use the software.</li>
        <li>Enter the name of your token (this is required).</li>
        <li>
          Indicate the abbreviation of your SPL Token "Symbol" (max. 8 letters;
          this is required).
        </li>
        <li>
          Select the number of decimals for your token (between 1 and 9; this is
          required).
        </li>
        <li>
          Specify the initial supply of your token (must be between 1 and
          18,000,000,000; this is required).
        </li>
        <li>Upload your token image in PNG format (this is required).</li>
        <li>Write a description for your Solana Token (this is required).</li>
        <li>
          Optional: Add social links for your token: Website, Twitter (X),
          Telegram, and Discord.
        </li>
        <li>
          Optional: Choose whether to make the token immutable, and whether to
          revoke freeze authority and mint authority.
        </li>
        <li>
          Click on "Create Token" and accept the transaction to complete the
          process.
        </li>
      </div>

      <Sectionhead>
        <Fragment slot="title">Frequently Asked Questions (FAQ)</Fragment>
      </Sectionhead>
      <div class="faq">
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is the purpose of this form?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              This form is designed to help you create a custom cryptocurrency
              token on either the Mainnet or Devnet. You can specify the token's
              name, symbol, initial supply, and other attributes.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What are the required fields?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              The following fields are required: Network (Mainnet or Devnet),
              Token Name, Token Symbol, Initial Supply, Decimals, Token
              Description, Token Logo (file upload).
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How do I select the network for my token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Use the dropdown menu under the "Network" field to select either
              Mainnet or Devnet. This choice will determine where your token
              will be deployed.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What should I enter for the 'Token Name' and 'Token Symbol'?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Token Name: Enter the full name of your token (e.g., "MyToken").
              Token Symbol: Enter a short, unique identifier for your token
              (e.g., "MTK").
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is 'Initial Supply'?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              The initial supply is the total number of tokens that will be
              created at the time of deployment. This number can be set
              according to your needs.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What are 'Decimals'?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Decimals determine the smallest unit your token can be divided
              into. For example, if you set decimals to 2, your token can be
              split into 100 smaller units.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              Can I add a description of my token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Yes, you can provide a detailed description in the "Token
              Description" field to explain the purpose and utility of your
              token.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is the 'Include Media' option?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              If you want to include additional media links like a website,
              Telegram, or Twitter, you can check the "Include Media" box. This
              will reveal additional fields for you to enter these details.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What tags should I choose?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              You can select up to 3 tags that best describe your token's
              category or purpose. Available tags include "Meme," "Airdrop,"
              "Tokenization," and "NFT."
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How do I upload a logo for my token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Use the "Upload file" field to select and upload an image file
              that will serve as your token's logo. This logo will be displayed
              as a preview once uploaded.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What are 'Revoke Mint Authority' and 'Revoke Freeze Authority'?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              These options allow you to revoke your ability to mint or freeze
              tokens after they are created. Enabling these options costs 0.05
              SOL each.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is 'Custom Creator Info'?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              If you enable this option, you can specify custom information
              about the creator of the token, such as the creator's name and
              website.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How do I connect my wallet?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              To connect your wallet, you need to have a Phantom wallet. Click
              the "Connect Wallet" button at the bottom of the form to link your
              Phantom wallet. If you don't have a Phantom wallet, you'll need to <a
                href="https://phantom.app/download"
                class="text-blue-600 hover:underline"
                target="_blank">download</a
              > and set it up first. This connection is necessary for token creation
              and transactions.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How do I submit the form?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              After filling out all required fields, click the "Submit" button
              to create your token. Ensure that your wallet is connected before
              submission.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is the cost of creating a token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              The cost is displayed as 0.05 SOL, with a limited-time offer
              showing a 90% discount from the original price of 0.5 SOL.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              Why is there a countdown timer on the page?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              The countdown timer indicates the time remaining for the
              limited-time offer. After the timer expires, the offer may no
              longer be available.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What should I do if I encounter an error?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              If an error occurs, it will be displayed in the "error-handling"
              section below the token logo preview. Check this area for details
              on how to resolve the issue.
            </p>
          </details>
        </div>

        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary
              class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How is my data secured?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              All interactions with this form, including wallet connections and
              data entry, are handled securely to protect your information and
              assets.
            </p>
          </details>
        </div>
      </div>

      <div
        id="notification"
        class="fixed top-4 right-4 p-4 rounded-md shadow-lg text-white hidden">
      </div>

      <style>
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .loader {
          border-top-color: #3498db;
          animation: spin 1s linear infinite;
        }
      </style>
      <div id="timer"></div>

      <script>
        // ابتدا بررسی می‌کنیم که آیا تاریخ پایان تایمر در Local Storage ذخیره شده است یا نه
        var countDownDate = localStorage.getItem("countDownDate");

        // اگر تاریخ ذخیره نشده بود، آن را تنظیم کرده و در Local Storage ذخیره می‌کنیم
        if (!countDownDate) {
          countDownDate = new Date().getTime() + 7 * 24 * 60 * 60 * 1000; // یک هفته از زمان فعلی
          localStorage.setItem("countDownDate", countDownDate);
        } else {
          countDownDate = parseInt(countDownDate, 10);
        }

        // به روز رسانی تایمر هر یک ثانیه
        var x = setInterval(function () {
          // دریافت زمان فعلی
          var now = new Date().getTime();

          // محاسبه فاصله زمانی بین زمان فعلی و تاریخ پایان تایمر
          var distance = countDownDate - now;

          // محاسبه روزها، ساعت‌ها، دقیقه‌ها و ثانیه‌ها
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // نمایش نتیجه در عنصری با id="timer"
          document.getElementById("timer").innerHTML =
            days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

          // اگر تایمر تمام شد، متن "EXPIRED" را نمایش می‌دهیم
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
            localStorage.removeItem("countDownDate"); // حذف تاریخ پایان تایمر از Local Storage
          }
        }, 1000);
      </script>

      <script src="../jsFile/createToken.js"></script>
      <script src="../jsFile/tagInput.js"></script>
    </div>
  </Container>
</Layout>
