---
import { Icon } from "astro-icon/components";
// import "../jsFile/CreateToken.js";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Image from "astro/components/Image.astro";
import solicon from "@assets/iconSol.svg";
---

<Layout title="Create Token">
  <Container>
    <div>
      <Sectionhead>
        <Fragment slot="title">Create Your Custom Token</Fragment>
        <Fragment slot="desc">
          Easily generate your own token with just a few clicks. Enter the
          details below to get started.
        </Fragment>
      </Sectionhead>
      <form
        id="token-form"
        class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md mt-10">
        <!-- Select Field for Network -->
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <select
              name="network"
              id="network"
              class="block mb-2 py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer">
              <option value="" disabled selected>Select Network</option>
              <option value="mainnet">Mainnet</option>
              <option value="devnet">Devnet</option>
            </select>
            <label
              for="network"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Network <span class="text-red-600">*</span></label
            >
            
            <a id="airdrop" href="https://faucet.solana.com/" class="text-sm text-white bg-black rounded-md p-1 hidden">Get Airdrop SOL For Test</a>
          </div>
        </div>
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <input
              type="text"
              name="token-name"
              id="token-name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="token-name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Token Name <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 mb-5 group">
            <input
              type="text"
              name="token-symbol"
              id="token-symbol"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="token-symbol"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Token Symbol <span class="text-red-600">*</span></label
            >
          </div>
        </div>
        <div class="md:flex justify-around">
          <div class="relative z-0 mb-5 group">
            <input
              type="number"
              name="initial-supply"
              id="initial-supply"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="initial-supply"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Initial Supply <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 mb-5 group">
            <input
              type="number"
              name="decimals"
              id="decimals"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="decimals"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Decimals <span class="text-red-600">*</span></label
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <textarea
            name="token-description"
            id="token-description"
            rows="3"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "></textarea>
          <label
            for="token-description"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Token Description <span class="text-red-600">*</span></label
          >
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="checkbox"
            name="include-media"
            id="include-media"
            class="mr-2"
          />
          <label for="include-media" class="peer-focus:font-medium text-sm"
            >Include Media</label
          >
        </div>
        <div id="media-fields" class="hidden">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="website"
              id="website"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="website"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Website <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="telegram"
              id="telegram"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="telegram"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Telegram <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="twitter"
              id="twitter"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="twitter"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Twitter <span class="text-red-600">*</span></label
            >
          </div>
        </div>

        <div class="max-w-lg mx-auto p-2 bg-white shadow-md rounded-md">
          <div class="mb-5">
            <label class="block text-sm font-medium text-gray-700"
              >Tags (optional)</label
            >
            <p class="text-xs text-gray-500 mb-2">
              Select tags that are most associated with your project - max 3
              tags
            </p>
            <div class="relative flex">
              <div
                id=""
                class="overflow-x-auto flex flex-wrap items-center gap-2 border rounded-md py-2.5 px-3 w-full text-sm text-gray-900 bg-white border-gray-300">
                <!-- Selected tags will appear here -->
                <div id="selected-tags" class="flex"></div>
                <input
                  name="nput-custom-dropdown"
                  type="text"
                  id="tag-input"
                  placeholder="Enter tag"
                  class="outline-none flex-grow bg-transparent"
                />
              </div>
            </div>
            <div id="available-tags" class="flex flex-wrap gap-2 mt-2">
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Meme">Meme</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Airdrop">Airdrop</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="Tokenization">Tokenization</button
              >
              <button
                type="button"
                class="tag bg-gray-200 px-3 py-1 rounded-full text-sm cursor-pointer"
                data-tag="NFT">NFT</button
              >
            </div>
            <!-- <button type="button" id="add-tag" class="bg-green-600 rounded-md w-full p-4 mt-4">+ add</button> -->
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group mt-2">
          <label
            for="token-logo"
            class="mb-1 block text-sm font-medium text-gray-700"
            >Upload file <span class="text-red-600">*</span></label
          >
          <input
            id="token-logo"
            type="file"
            class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-teal-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-teal-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"
          />
        </div>
        <div class="mb-5">
          <div id="img-url" class="hidden"></div>
          <img
            id="img-display"
            src=""
            alt="Token Logo Preview"
            style="display: none;"
            class="border-4 border-black rounded-lg w-64 m-auto"
          />
          <div id="error-handling" class="text-red-600"></div>
        </div>

        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-revokMint"
          />
          <label
            for="toggle-revokMint"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-revokMint ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Revoke Mint Authority (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-revokFreeze"
          />
          <label
            for="toggle-revokFreeze"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-revokFreeze ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Revoke Freeze Authority (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div class="relative z-0 w-full mb-5 group flex">
          <input
            type="checkbox"
            class="peer sr-only opacity-0"
            id="toggle-custom-creator-info"
          />
          <label
            for="toggle-custom-creator-info"
            class="relative flex h-6 w-11 cursor-pointer items-center rounded-full bg-gray-400 px-0.5 outline-gray-400 transition-colors before:h-5 before:w-5 before:rounded-full before:bg-white before:shadow before:transition-transform before:duration-300 peer-checked:bg-green-500 peer-checked:before:translate-x-full peer-focus-visible:outline peer-focus-visible:outline-offset-2 peer-focus-visible:outline-gray-400 peer-checked:peer-focus-visible:outline-green-500"
            for="toggle-custom-creator-info ">
            <span class="sr-only">Enable</span>
          </label>
          <span class="ml-2 flex">
            Custom Creator Info (0.05
            <div class="w-5 my-auto ml-1">
              <Image src={solicon} alt="$" />
            </div>
            SOL)
          </span>
        </div>
        <div id="creator-fields" class="hidden">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="url"
              name="creatorWebsite"
              id="creatorWebsite"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="creatorWebsite"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Creator Website <span class="text-red-600">*</span></label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="Creator"
              id="creatorName"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="creatorName"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-0 peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Creator <span class="text-red-600">*</span></label
            >
          </div>
        </div>

        <div
          id="loading-spinner"
          class="hidden flex justify-center items-center">
          <div
            class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-16 w-16">
          </div>
        </div>

        <button
          type="button"
          id="connect-wallets"
          class="w-full bg-green-500 text-white p-2 rounded mt-4 hover:bg-green-600 lg:hidden"
          >Connect Wallet</button
        >
        <div id="wallet-address" class="mt-4 text-gray-500"></div>

        <button
          type="button"
          id="submit"
          class="w-full mt-2 py-2.5 px-5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
          >Create Token</button
        >
        <div
          class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full text-center">
          <div class="flex items-center justify-center mt-1 space-x-2">
            <span class="line-through text-red-500 text-lg font-semibold"
              >0.5 SOL</span
            >
            <span class="text-lg text-green-600 font-semibold">0.05 SOL</span>
            <span
              class="bg-yellow-200 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded"
              >90% OFF</span
            >
          </div>
          <div class="mt-4">
            <span
              class="bg-blue-100 text-blue-800 text-sm font-semibold px-3 py-1 rounded"
              >Limited Time Offer</span
            >
          </div>
          <div class="mt-2 text-xl font-bold text-gray-800">
            <span id="timer"></span>
          </div>
        </div>
      </form>
      <Sectionhead>
        <Fragment slot="title">How to Create Your Token</Fragment>
        <Fragment slot="desc">
          Follow these steps to create your custom token:
        </Fragment>
      </Sectionhead>
      
      <div class="list-decimal pl-5 text-gray-700 mt-4  leading-normal">
        <li>Connect your wallet to be able to use the software.</li>
        <li>Enter the name of your token (this is required).</li>
        <li>Indicate the abbreviation of your SPL Token "Symbol" (max. 8 letters; this is required).</li>
        <li>Select the number of decimals for your token (between 1 and 9; this is required).</li>
        <li>Specify the initial supply of your token (must be between 1 and 18,000,000,000; this is required).</li>
        <li>Upload your token image in PNG format (this is required).</li>
        <li>Write a description for your Solana Token (this is required).</li>
        <li>Optional: Add social links for your token: Website, Twitter (X), Telegram, and Discord.</li>
        <li>Optional: Choose whether to make the token immutable, and whether to revoke freeze authority and mint authority.</li>
        <li>Click on "Create Token" and accept the transaction to complete the process.</li>
      </div>
      
        <Sectionhead>
          <Fragment slot="title">Frequently Asked Questions (FAQ)</Fragment>
        </Sectionhead>
        
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is a token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              A token is a digital asset that represents a certain value, utility, or other attributes. Tokens can be used for various purposes in blockchain networks, including transactions, rewards, governance, and more.
            </p>
          </details>
        </div>
        
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What is the initial supply?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              The initial supply is the total number of tokens that will be created when the token is generated. This amount can be distributed or reserved according to your project's needs.
            </p>
          </details>
        </div>
        
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              What are decimals in a token?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Decimals determine the smallest unit of the token that can be transacted. For example, if a token has 6 decimals, the smallest unit that can be transacted is 0.000001 of that token.
            </p>
          </details>
        </div>
        
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How can I revoke minting authority?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              Revoking minting authority means that no more tokens can be created after the initial supply. This is a security feature that ensures the total supply remains fixed.
            </p>
          </details>
        </div>
        
        <div class="relative z-0 mb-5 group">
          <details class="mb-4">
            <summary class="cursor-pointer font-medium text-gray-900 text-sm py-2 border-b-2 border-gray-300 focus:outline-none focus:border-blue-600 peer">
              How do I include media links in my token information?
            </summary>
            <p class="mt-2 text-sm text-gray-500">
              You can include media links such as your project's website, Telegram, or Twitter handles by enabling the "Include Media" option in the form. This adds fields where you can enter the relevant URLs.
            </p>
          </details>
        </div>
      
      <div
        id="notification"
        class="fixed top-4 right-4 p-4 rounded-md shadow-lg text-white hidden">
      </div>

      <style>
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .loader {
          border-top-color: #3498db;
          animation: spin 1s linear infinite;
        }
      </style>
      <script>
        // Set the date we're counting down to (one week from now)
        var countDownDate = new Date().getTime() + 7 * 24 * 60 * 60 * 1000;

        // Update the count down every 1 second
        var x = setInterval(function () {
          // Get today's date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="timer"
          document.getElementById("timer").innerHTML =
            days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
          }
        }, 1000);
      </script>
      <script src="../jsFile/createToken.js"></script>
      <script src="../jsFile/tagInput.js"></script>
    </div>
  </Container>
</Layout>
