---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Easy Token Creation",
    description:
      "Create and manage your own custom tokens effortlessly using our intuitive interface and Solana's robust blockchain technology.",
    icon: "bx:bxs-coin-stack",
  },
  {
    title: "High Performance",
    description:
      "Experience the speed and efficiency of Solana's blockchain, ensuring fast transactions and low fees.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "Secure and Reliable",
    description:
      "Our platform ensures the highest level of security, protecting your assets with advanced cryptographic techniques.",
    icon: "bx:bxs-lock",
  },
  {
    title: "Flexible Token Management",
    description:
      "Easily manage your tokens with comprehensive tools for minting, burning, and transferring tokens.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Detailed Analytics",
    description:
      "Get insightful analytics and reports on your token's performance and transactions.",
    icon: "bx:bxs-chart",
  },
  {
    title: "Community Support",
    description:
      "Join a growing community of developers and users, sharing knowledge and support for your token projects.",
    icon: "bx:bxs-group",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Comprehensive Tools for Token Creation and Management
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our platform provides all the tools you need to create, manage, and analyze your custom tokens on the Solana blockchain.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
