---
import { Picture } from "astro:assets";
import heroImage from "assets/astro_img_noface/back.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Create Custom Tokens"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Create Custom Tokens on Solana with NoFaceMint
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      NoFaceMint allows you to easily create and manage custom tokens on the Solana blockchain. Leverage the power of Solana to launch your own tokens with ease and efficiency. Our platform offers a variety of tools to help you manage, secure, and distribute your tokens.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/tokenForm"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        
        Start Creating Tokens
      </Link>
      
    </div>
  </div>
</main>
