---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';
// import CreateToken from "@pages/tokenForm.astro";
export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "TokenMaker"
  : "TokenMaker - Create and Manage Your Tokens on Solana";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="TokenMaker is a platform for creating and managing custom tokens on the Solana blockchain."
      canonical={canonicalURL}
      twitter={{
        creator: "@yourtwitterhandle",
        site: "@yourtwitterhandle",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `TokenMaker - Create and Manage Your Tokens on Solana`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "TokenMaker Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>

    <!-- <CreateToken /> -->
    <Navbar />
    

    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
